.footer-component
{
  
  display: flex;
  text-emphasis: bolder;
  text-decoration: white;
  background-color: #ff6f61;
  align-items: stretch;
}
.aafreen,
.subscribe,
.social-container {
  
  padding: 25px 50px;
  border-bottom: 10px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}
a.instagram {
  color: black;
}


@media (max-width: 600px) {
  .footer-component {
    flex-direction: column;
  }
};

