
html{
  font-size: 62.5%;
  box-sizing: border-box;
  
}

.grid-container
{
  display: grid;
  height:100%;
  width:100%;
  background-color: thistle;
  grid-row: 25% 50% 25%;
  grid-template-areas: "header"
   "main"
    "footer";
  
}

.header{
  grid-area: header;
  top: 0%;
  
}
.main
{
  grid-area: main;
  top: 20%;
  
}

.footer
{
  grid-area: footer;
  position: fixed;
  bottom:0;
  width: 100%;
 
  display: flex;
  text-emphasis: bolder;
  text-decoration: white;
  background-color: #ff6f61;
  
}

.footer:hover
{
  height: 50%;
}