
html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root{
  height: 100vh;
  margin:0;
}

.grid-container
{
  display: grid;
  height:100%;
  width:100%;
  grid-template-rows: 25% 60% 15%;
  
  grid-template-areas: "header"
   "main"
    "footer";
  
}

.header{
  grid-area: header;
  
}
.main
{
  grid-area: main;
  
}

.footer
{
  grid-area: footer;
  
}